/### change link + alt autre : cf source.json

/### do not change
-$mirorLink = "https://tempsl.com/Newsletters/miroir/#{$miror}/BEFR/index.htm"
-$srcAbs    = "https://tempsl.com/Newsletters/miroir/News_OM_#{$objso["campaignName"]}_#{$objso["date"]}/BEFR/images/"
/### do not change content link
-$srcmedium     =["?utm_source=NL&utm_medium=email","&utm_source=NL&utm_medium=email"]
-$content       =["&utm_content=","url","garantie","livraison","paiement","cgv","contact","desabo"]
/### do not change footer
-$haconfiance   =["achat_confiance/","garanties.aspx","informations-livraison.aspx","paiement-securise.aspx","conditions-generales-de-vente.aspx"]
/### do not change mentions
-$contactdesabo =["idealpractical_and_you/contact.aspx?val=A","animation/DesinscriptionNewsletter.aspx"]
/ compact
-urlRay = $objso["url"]["bf"]+$objso["ray"]+$objso["ID"]["bf"]+$srcmedium[1]+$content[0]
-pdt    = { # ...,
  gg: "#{$srcmedium[0]}#{$content[0]}",
  pk1: "#{$objso["url"]["bf"]}#{$objso["link"]["pk1"]["bf"]}",
  pk2: "#{$objso["url"]["bf"]}#{$objso["link"]["pk2"]["bf"]}",
  pk3: "#{$objso["url"]["bf"]}#{$objso["link"]["pk3"]["bf"]}",
  pk4: "#{$objso["url"]["bf"]}#{$objso["link"]["pk4"]["bf"]}",
  pk5: "#{$objso["url"]["bf"]}#{$objso["link"]["pk5"]["bf"]}",
  pk6: "#{$objso["url"]["bf"]}#{$objso["link"]["pk6"]["bf"]}",
  }

/ ### lib BF
- $lib1 = $objso["lib"]["bf"]["pk1"]
- $lib2 = $objso["lib"]["bf"]["pk2"]
- $lib3 = $objso["lib"]["bf"]["pk3"]
- $lib4 = $objso["lib"]["bf"]["pk4"]
- $lib5 = $objso["lib"]["bf"]["pk5"]
- $lib6 = $objso["lib"]["bf"]["pk6"]

- $price_title = $objso["price_title"]["bf"]
- $price = $objso["price"]["bf"]
- $btn = [$objso["btn"]["bf"][0],$objso["btn"]["bf"][1]]

/### content link ["logo", "accroche", "pdt", "prix", "bouton" ]
- $s0_logo          = "#{$objso["url"]["bf"]}index.aspx#{pdt[:gg]}logo#{$campaign}"

/ to change :
- $s1_ambiance         = "#{urlRay}accroche#{$campaign}"
- $s2_title            = "#{urlRay}accroche#{$campaign}"
- $s3_callPrice        = "#{urlRay}price#{$campaign}"
- $s5c2_pk1            = pdt[:pk1]+pdt[:gg]+"pdt"+$campaign
- $s5c4_pk2            = pdt[:pk2]+pdt[:gg]+"pdt"+$campaign
- $s6c1_libPk1         = pdt[:pk1]+pdt[:gg]+"pdt"+$campaign
- $s6c2_libPk2         = pdt[:pk2]+pdt[:gg]+"pdt"+$campaign
- $s8c2_pk3            = pdt[:pk3]+pdt[:gg]+"pdt"+$campaign
- $s8c4_pk4            = pdt[:pk4]+pdt[:gg]+"pdt"+$campaign
- $s9c1_libPk3         = pdt[:pk3]+pdt[:gg]+"pdt"+$campaign
- $s9c2_libPk4         = pdt[:pk4]+pdt[:gg]+"pdt"+$campaign
- $s11c2_pk5           = pdt[:pk5]+pdt[:gg]+"pdt"+$campaign
- $s11c4_pk6           = pdt[:pk6]+pdt[:gg]+"pdt"+$campaign
- $s12c1_libPk5        = pdt[:pk5]+pdt[:gg]+"pdt"+$campaign
- $s12c1_libPk6        = pdt[:pk6]+pdt[:gg]+"pdt"+$campaign
- $s13_btnRay          = "#{urlRay}bouton#{$campaign}"

/ alt to change :
- $alt_s2_title     = "Les essentiels pour préparer votre jardin !"
- $alt_s13_btnRay   = "Découvrez vite notre sélection Jardinage !"

// don't change
- $alt_logo   = "IDEAL PRATIQUE"
