/### do not change
-$mirorLink = "https://tempsl.com/Newsletters/miroir/#{$miror}/FR/index.htm"
-$url       ="https://www.tempsl.fr/fr/";$urlCat ="https://www.tempsl.fr/cat/fr/"
-$srcAbs    = "https://tempsl.com/Newsletters/miroir/News_#{$objso["campaignName"]}_#{$objso["date"]}/FR/images/"
-$index     ="index.aspx"
-$srcmedium =["?utm_source=NL&utm_medium=email","&utm_source=NL&utm_medium=email"]
-$content   =["&utm_content=","url","garantie","livraison","paiement","contact","desabo"]

/ compact
-urlRay = $objso["url"]["fr"]+$objso["ray"]+$objso["ID"]["fr"]+$srcmedium[1]+$content[0]
-pdt    = { # ...,
  gg: "#{$srcmedium[0]}#{$content[0]}",
  pk1: "#{$objso["url"]["fr"]}#{$objso["link"]["pk1"]["fr"]}",
  pk2: "#{$objso["url"]["fr"]}#{$objso["link"]["pk2"]["fr"]}",
  pk3: "#{$objso["url"]["fr"]}#{$objso["link"]["pk3"]["fr"]}",
  pk4: "#{$objso["url"]["fr"]}#{$objso["link"]["pk4"]["fr"]}",
  pk5: "#{$objso["url"]["fr"]}#{$objso["link"]["pk5"]["fr"]}",
  pk6: "#{$objso["url"]["fr"]}#{$objso["link"]["pk6"]["fr"]}",
  }

/ ### lib FR
- $lib1 = $objso["lib"]["fr"]["pk1"]
- $lib2 = $objso["lib"]["fr"]["pk2"]
- $lib3 = $objso["lib"]["fr"]["pk3"]
- $lib4 = $objso["lib"]["fr"]["pk4"]
- $lib5 = $objso["lib"]["fr"]["pk5"]
- $lib6 = $objso["lib"]["fr"]["pk6"]

- $price_title = $objso["price_title"]["fr"]
- $btn = [$objso["btn"]["fr"][0],$objso["btn"]["fr"][1]]

/### content link ["logo", "accroche", "pdt", "prix", "bouton" ]
- $s0_logo          = "#{$objso["url"]["fr"]}index.aspx#{pdt[:gg]}logo#{$campaign}"

/ to change :
- $s1_ambiance         = "#{urlRay}accroche#{$campaign}"
- $s2_title            = "#{urlRay}accroche#{$campaign}"
- $s3_callPrice        = "#{urlRay}price#{$campaign}"

- $pk1_link = pdt[:pk1]+pdt[:gg]+"pdt"+$campaign
- $pk2_link = pdt[:pk2]+pdt[:gg]+"pdt"+$campaign
- $pk3_link = pdt[:pk3]+pdt[:gg]+"pdt"+$campaign
- $pk4_link = pdt[:pk4]+pdt[:gg]+"pdt"+$campaign
- $pk5_link = pdt[:pk5]+pdt[:gg]+"pdt"+$campaign
- $pk6_link = pdt[:pk6]+pdt[:gg]+"pdt"+$campaign

- $s13_btnRay          = "#{urlRay}bouton#{$campaign}"

/ alt to change :
- $alt_s2_title     = "Les essentiels pour préparer votre jardin !"
- $alt_s13_btnRay   = "Découvrez vite notre sélection Jardinage !"

// don't change
- $alt_logo   = "Temps L"
