/### do not change
-$mirorLink = "https://tempsl.com/Newsletters/miroir/#{$miror}/FR/index.htm"
-$url       ="https://www.tempsl.fr/fr/";$urlCat ="https://www.tempsl.fr/cat/fr/"
-$srcAbs    = "https://tempsl.com/Newsletters/miroir/News_#{$objso["campaignName"]}_#{$objso["date"]}/FR/images/"
-$index     ="index.aspx"
-$srcmedium =["?utm_source=NL&utm_medium=email","&utm_source=NL&utm_medium=email"]
-$content   =["&utm_content=","url","garantie","livraison","paiement","contact","desabo"]

/ compact
-urlRay = $objso["url"]["fr"]+$objso["ray"]+$objso["ID"]["fr"]+$srcmedium[1]+$content[0]
-pdt    = { # ...,
  gg: "#{$srcmedium[0]}#{$content[0]}",
  pk1: "#{$objso["url"]["fr"]}#{$objso["link"]["pk1"]["fr"]}",
  pk2: "#{$objso["url"]["fr"]}#{$objso["link"]["pk2"]["fr"]}",
  pk3: "#{$objso["url"]["fr"]}#{$objso["link"]["pk3"]["fr"]}",
  pk4: "#{$objso["url"]["fr"]}#{$objso["link"]["pk4"]["fr"]}",
  pk5: "#{$objso["url"]["fr"]}#{$objso["link"]["pk5"]["fr"]}",
  pk6: "#{$objso["url"]["fr"]}#{$objso["link"]["pk6"]["fr"]}",
  }

/ ### lib FR
- $lib1 = $objso["lib"]["fr"]["pk1"]
- $lib1_ = $objso["lib"]["fr_"]["pk1"]
- $price1 = $objso["price"]["pk1"]["fr"]
- $lib2 = $objso["lib"]["fr"]["pk2"]
- $lib2_ = $objso["lib"]["fr_"]["pk2"]
- $price2 = $objso["price"]["pk2"]["fr"]
- $lib3 = $objso["lib"]["fr"]["pk3"]
- $lib3_ = $objso["lib"]["fr_"]["pk3"]
- $price3 = $objso["price"]["pk3"]["fr"]
- $lib4 = $objso["lib"]["fr"]["pk4"]
- $lib4_ = $objso["lib"]["fr_"]["pk4"]
- $price4 = $objso["price"]["pk4"]["fr"]
- $lib5 = $objso["lib"]["fr"]["pk5"]
- $lib5_ = $objso["lib"]["fr_"]["pk5"]
- $price5 = $objso["price"]["pk5"]["fr"]
- $lib6 = $objso["lib"]["fr"]["pk6"]
- $lib6_ = $objso["lib"]["fr_"]["pk6"]
- $price6 = $objso["price"]["pk6"]["fr"]

- $price_title = $objso["price_title"]["fr"]
- $price = $objso["price"]["fr"]
- $btn = [$objso["btn"]["fr"][0],$objso["btn"]["fr"][1]]

/### content link ["logo", "accroche", "pdt", "prix", "bouton" ]
- $s0_logo          = "#{$objso["url"]["fr"]}index.aspx#{pdt[:gg]}logo#{$campaign}"

/ to change :
- $s1_ambiance         = "#{urlRay}accroche#{$campaign}"
- $s2_title            = "#{urlRay}accroche#{$campaign}"
- $s3_callPrice        = "#{urlRay}price#{$campaign}"
- $s5c2_pk1            = pdt[:pk1]+pdt[:gg]+"pdt"+$campaign
- $s5c4_pk2            = pdt[:pk2]+pdt[:gg]+"pdt"+$campaign
- $s6c1_libPk1         = pdt[:pk1]+pdt[:gg]+"pdt"+$campaign
- $s6c2_libPk2         = pdt[:pk2]+pdt[:gg]+"pdt"+$campaign
- $s8c2_pk3            = pdt[:pk3]+pdt[:gg]+"pdt"+$campaign
- $s8c4_pk4            = pdt[:pk4]+pdt[:gg]+"pdt"+$campaign
- $s9c1_libPk3         = pdt[:pk3]+pdt[:gg]+"pdt"+$campaign
- $s9c2_libPk4         = pdt[:pk4]+pdt[:gg]+"pdt"+$campaign
- $s11c2_pk5           = pdt[:pk5]+pdt[:gg]+"pdt"+$campaign
- $s11c4_pk6           = pdt[:pk6]+pdt[:gg]+"pdt"+$campaign
- $s12c1_libPk5        = pdt[:pk5]+pdt[:gg]+"pdt"+$campaign
- $s12c1_libPk6        = pdt[:pk6]+pdt[:gg]+"pdt"+$campaign
- $s13_btnRay          = "#{urlRay}bouton#{$campaign}"

/ alt to change :
- $alt_s2_title     = "Les essentiels pour préparer votre jardin !"
- $alt_s13_btnRay   = "Découvrez vite notre sélection Jardinage !"

// don't change
- $alt_logo   = "Temps L"
