/# FOOTER
/### do not change footer
-$haconfiance   =["achat_confiance/","garanties.aspx","informations-livraison.aspx","paiement-securise.aspx"];

/### do not change mentions
-$contactdesabo =["tempsl_et_vous/contact.aspx?val=A","animation/DesinscriptionNewsletter.aspx"];

/### do not change footer
-$furl       =$objso["url"]["fr"]+"index.aspx"+$srcmedium[0]+$content[0]+$content[1]+$campaign;
-$fgaranties =$objso["url"]["fr"]+$haconfiance[0]+$haconfiance[1]+$srcmedium[0]+$content[0]+$content[2]+$campaign;
-$flivraison =$objso["url"]["fr"]+$haconfiance[0]+$haconfiance[2]+$srcmedium[0]+$content[0]+$content[3]+$campaign;
-$fpaiement  =$objso["url"]["fr"]+$haconfiance[0]+$haconfiance[3]+$srcmedium[0]+$content[0]+$content[4]+$campaign;

/### do not change mentions
-$lcontact =$objso["url"]["fr"]+$contactdesabo[0]+$srcmedium[1]+$content[0]+$content[5]+$campaign;
-$ldesabo  =$objso["url"]["fr"]+$contactdesabo[1]+$srcmedium[0]+$content[0]+$content[6]+$campaign;
