/### do not change footer
-$furl       =$objso["url"]["bv"]+"index.aspx"+$srcmedium[0]+$content[0]+$content[1]+$campaign;
-$fgaranties =$objso["url"]["bv"]+$haconfiance[0]+$haconfiance[1]+$srcmedium[0]+$content[0]+$content[2]+$campaign;
-$flivraison =$objso["url"]["bv"]+$haconfiance[0]+$haconfiance[2]+$srcmedium[0]+$content[0]+$content[3]+$campaign;
-$fpaiement  =$objso["url"]["bv"]+$haconfiance[0]+$haconfiance[3]+$srcmedium[0]+$content[0]+$content[4]+$campaign;

/### do not change mentions
-$CGV        =$objso["url"]["bv"]+$haconfiance[0]+$haconfiance[4]+$srcmedium[0]+$content[0]+$content[5]+$campaign;
-$lcontact   =$objso["url"]["bv"]+$contactdesabo[0]+$srcmedium[1]+$content[0]+$content[6]+$campaign;
-$ldesabo    =$objso["url"]["bv"]+$contactdesabo[1]+$srcmedium[0]+$content[0]+$content[7]+$campaign;