/### do not change footer
-$furl       =$objso["url"]["nl"]+"index.aspx"+$srcmedium[0]+$content[0]+$content[6]+$campaign
-$fgaranties =$objso["url"]["nl"]+$haconfiance[0]+$haconfiance[1]+$srcmedium[0]+$content[0]+$content[7]+$campaign
-$flivraison =$objso["url"]["nl"]+$haconfiance[0]+$haconfiance[2]+$srcmedium[0]+$content[0]+$content[8]+$campaign
-$fpaiement  =$objso["url"]["nl"]+$haconfiance[0]+$haconfiance[3]+$srcmedium[0]+$content[0]+$content[9]+$campaign
/### do not change mentions
-$CGV      =$objso["url"]["nl"]+$haconfiance[0]+$haconfiance[4]+$srcmedium[0]+$content[0]+$content[10]+$campaign
-$lcontact =$objso["url"]["nl"]+$contactdesabo[0]+$srcmedium[1]+$content[0]+$content[11]+$campaign
-$ldesabo  =$objso["url"]["nl"]+$contactdesabo[1]+$srcmedium[0]+$content[0]+$content[12]+$campaign