/### do not change footer
-$furl       =$objso["url"]["de"]+"index.aspx"+$srcmedium[0]+$content[0]+$content[1]+$campaign
-$fgaranties =$objso["url"]["de"]+$haconfiance[0]+$haconfiance[1]+$srcmedium[0]+$content[0]+$content[2]+$campaign
-$flivraison =$objso["url"]["de"]+$haconfiance[0]+$haconfiance[2]+$srcmedium[0]+$content[0]+$content[3]+$campaign
-$fpaiement  =$objso["url"]["de"]+$haconfiance[0]+$haconfiance[3]+$srcmedium[0]+$content[0]+$content[4]+$campaign

/### do not change mentions
-$CGV        =$objso["url"]["de"]+$haconfiance[0]+$haconfiance[4]+$srcmedium[0]+$content[0]+$content[5]+$campaign
-$mentions   =$objso["url"]["de"]+$haconfiance[0]+$haconfiance[5]+$srcmedium[0]+$content[0]+$content[8]+$campaign
-$lcontact   =$objso["url"]["de"]+$contactdesabo[0]+$srcmedium[1]+$content[0]+$content[6]+$campaign
-$ldesabo    =$objso["url"]["de"]+$contactdesabo[1]+$srcmedium[0]+$content[0]+$content[7]+$campaign