/### do not change footer
-$furl       =$objso["url"]["uk"]+"index.aspx"+$srcmedium[0]+$content[0]+$content[1]+$campaign
-$fgaranties =$objso["url"]["uk"]+$haconfiance[0]+$haconfiance[1]+$srcmedium[0]+$content[0]+$content[2]+$campaign
-$flivraison =$objso["url"]["uk"]+$haconfiance[0]+$haconfiance[2]+$srcmedium[0]+$content[0]+$content[3]+$campaign
-$fpaiement  =$objso["url"]["uk"]+$haconfiance[0]+$haconfiance[3]+$srcmedium[0]+$content[0]+$content[4]+$campaign

/### do not change mentions
-$lcontact =$objso["url"]["uk"]+$contactdesabo[0]+$srcmedium[1]+$content[0]+$content[5]+$campaign
-$ldesabo  =$objso["url"]["uk"]+$contactdesabo[1]+$srcmedium[0]+$content[0]+$content[6]+$campaign
-$lCGV     =$objso["url"]["uk"]+$haconfiance[0]+$haconfiance[4]+$srcmedium[0]+$content[0]+$content[7]+$campaign